
.alfredo2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: red;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    a{
        text-decoration: none;
        color: white;
    }
    li{
        display: inline-block;
        background-color: black;
        padding: 10px;
        border-radius: 10px;
    }
    li:hover{
        display: inline-block;
        background-color:darkgreen;
        padding: 10px;
    }
    li:active{
        display: inline-block;
        background-color: black;
        padding: 10px;
    }
    body{
    background-color: black;
    }
    .logo{
       height: 80px;
    }
    .inicio{
        width: 50%;
      margin-left: 25%;
      margin-right: 40%;
    }
    .serie{
        width: 50%;
    }
    p{
        color: white;
        background-color: rgb(244, 31, 77);
        padding: 1vw;
        margin: 0;
    }
    .pelicula{
        width: 50%;
    }
    .alfredo{
        display: grid; 
        grid-template-columns:  1fr 1fr ;
        gap: 30px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contenedor-texto-imagen {
        display: flex;
        justify-content: space-around; 
        gap: 20px; 
        margin-top: 30px;
        position: relative;
        margin-bottom: 8%;
      }
      
      .item {
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-left: 15%;
        z-index: 1;
      } 
      .Noticias{
        margin-bottom: 4%;
        font-size: medium;
      }
      .Productos{
        margin-bottom: 10%;
        font-size: medium;
        font-family: 'Lexend Exa', sans-serif;
      }
      .imagen-lado {
        width: 200px; 
        height: 200px;
        border-radius: 10px; 
        transition: transform 0.3s ease-in-out; 
        margin-right: 10%;
        position: relative;
        margin-top: 10%;
      }
      .imagen-lado:hover {
        transform: scale(1.05); 
      }
      
      
      
          
      